.itemButton{
    -fx-background-color:  #22223B;
    -fx-background-radius: 15px;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 16px;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
    -fx-text-fill: #F2E9E4;
    -fx-min-width: 220px;
    -fx-max-width: 220px;

}

.itemButton:hover {
    -fx-background-color: #F2E9E4;
    -fx-text-fill: black;
}

.pressedButton {
    -fx-background-color: #F2E9E4;
    -fx-text-fill: black;
}

.pressedMainButton{
    -fx-border-color: #F2E9E4;
    -fx-border-width: 0 0 0 5px;
}